@font-face {
  font-family: Malina;
  src: url("../fonts/ALSMalina.ttf");
  src: url("../fonts/ALSMalina.woff");
  src: url("../fonts/Malina.eot");
  src: url("../fonts/Malina.woff2");
  font-weight: 400;
  font-style: normal;
}
