@charset "UTF-8";
@font-face {
  font-family: Malina;
  src: url("../fonts/ALSMalina.ttf");
  src: url("../fonts/ALSMalina.woff");
  src: url("../fonts/Malina.eot");
  src: url("../fonts/Malina.woff2");
  font-weight: 400;
  font-style: normal;
}

.page-header__nav-item, .about__list-item, .our-team__heading, .our-team__list, .our-team__list-item, .social__list-item {
  display: inline-block;
}

.container:after, .main-container:after, .page-header:after, .sub-header__promo:after, .promo__right:after, .promo__desc-order:after, .products-row:after, .our-team__desk:after, .our-team__text:after, .our-team__tabs:after, .form__block:after, .page-footer:after {
  content: "";
  display: block;
  clear: both;
}

* {
  outline: 1px solid red;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

html {
  max-width: 1600px;
}

body {
  font-family: Malina, sans-serif;
}

ul li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  min-width: 1120px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

.heading {
  font-size: 62px;
  color: #2b2f5f;
}

.container {
  margin: 0 auto;
  width: 1100px;
}

.main-container {
  margin: 0 auto;
  width: 976px;
}

.page-footer {
  height: 125px;
  width: 100%;
  min-width: 1120px;
  background-color: #414141;
  font-weight: 300;
  font-size: 14px;
  color: #848484;
}

.promo-block {
  min-height: 760px;
  background: -webkit-linear-gradient(left, #df3e43 0%, #a8171d 100%);
  background: -moz-linear-gradient(left, #df3e43 0%, #a8171d 100%);
  background: -o-linear-gradient(left, #df3e43 0%, #a8171d 100%);
}

.page-header {
  height: 100px;
  line-height: 100px;
  position: relative;
}

.page-header__logo {
  float: left;
  width: 345px;
}

.logo__pic {
  vertical-align: middle;
  width: 81px;
  height: 66px;
}

.logo__title {
  vertical-align: middle;
  font-size: 48px;
  color: #fca211;
}

.page-header__nav {
  float: left;
  margin-left: 105px;
}

.page-header__nav-item {
  font-family: Arial;
  font-size: 16px;
  color: #fff;
  margin-right: 60px;
}

.nav__link:hover {
  color: #faa827;
}

.page-header__search {
  float: right;
  width: 120px;
}

.search__link {
  display: inline-block;
}

.search__pic:hover {
  background-color: #ffaf28;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.search__pic {
  vertical-align: middle;
}

.lk {
  margin-right: 15px;
}

.team__drop {
  display: none;
  position: absolute;
  left: 775px;
  top: 97px;
  min-width: 225px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  padding: 40px 0;
  z-index: 1000;
}

.team__drop:before {
  content: "";
  display: block;
  position: absolute;
  left: 90px;
  top: -40px;
  border: 20px solid transparent;
  border-bottom: 20px solid rgba(255, 255, 255, 0.9);
}

.team__drop-list__item {
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #959595;
  line-height: 39px;
  text-align: center;
}

.team__drop-list__item:before {
  content: "";
  display: block;
  position: absolute;
  border: 9px solid transparent;
  top: 22%;
}

.team__drop-list__item:hover:before {
  border-left: 9px solid #ffaf28;
}

.drop__item:hover {
  font-weight: bold;
}

.bx-wrapper {
  border: none;
  background: -webkit-linear-gradient(left, #df3e43 0%, #a8171d 100%);
  background: -moz-linear-gradient(left, #df3e43 0%, #a8171d 100%);
  background: -o-linear-gradient(left, #df3e43 0%, #a8171d 100%);
}

.sub-header__promo {
  padding-top: 80px;
  position: relative;
}

.promo__left {
  float: left;
  width: 120px;
  padding-top: 50px;
}

.promo__right {
  float: right;
  width: 900px;
}

.promo__img {
  float: left;
  width: 450px;
}

.promo__desc {
  float: right;
  width: 403px;
}

.promo__desc-title {
  font-size: 62px;
  color: #fff;
}

.promo__info-ingr, .promo__info-srok {
  text-align: center;
  margin-bottom: 200px;
}

.promo__info-srok {
  margin-bottom: 0;
}

.text {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #fff;
  line-height: 21px;
  margin-bottom: 50px;
}

#info-text-hov {
  display: none;
  position: absolute;
  left: 135px;
  top: 70px;
  width: 340px;
  height: 230px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  padding: 40px 30px 0px 67px;
  z-index: 2000;
}

.show__info-text {
  display: block;
}

#info-text-hov:before {
  content: "";
  position: absolute;
  left: -40px;
  top: 60px;
  border: 20px solid transparent;
  border-right: 20px solid rgba(255, 255, 255, 0.9);
}

.hover__list {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #959595;
  text-align: left;
  margin-bottom: 25px;
}

.hover__list-quantity {
  text-align: right;
}

.flour:before {
  content: "";
  background: url("../image/icons/info-hov1.png");
  width: 21px;
  height: 21px;
  display: block;
  position: absolute;
  left: 33px;
}

.flour:after {
  content: "200 г.";
  position: absolute;
  left: 273px;
}

.egg:before {
  content: "";
  background: url("../image/icons/info-hov2.png");
  width: 21px;
  height: 21px;
  display: block;
  position: absolute;
  left: 33px;
}

.egg:after {
  content: "3 шт.";
  position: absolute;
  left: 273px;
}

.sugar:before {
  content: "";
  background: url("../image/icons/info-hov3.png");
  width: 21px;
  height: 21px;
  display: block;
  position: absolute;
  left: 33px;
}

.sugar:after {
  content: "200 г.";
  position: absolute;
  left: 273px;
}

.butter:before {
  content: "";
  background: url("../image/icons/info-hov4.png");
  width: 21px;
  height: 21px;
  display: block;
  position: absolute;
  left: 33px;
}

.butter:after {
  content: "50 г.";
  position: absolute;
  left: 273px;
}

.milk:before {
  content: "";
  background: url("../image/icons/info-hov5.png");
  width: 21px;
  height: 21px;
  display: block;
  position: absolute;
  left: 33px;
}

.milk:after {
  content: "100 г.";
  position: absolute;
  left: 273px;
}

.info-pic:hover {
  background-image: url("../image/icons/ingr-h.png");
}

.srok-text {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #e46d6f;
}

.srok {
  font-family: Malina, sans-serif;
  font-size: 24px;
  color: #fff;
}

.order__price {
  vertical-align: middle;
  font-size: 62px;
  color: #fff;
}

.order__price:after {
  content: "\00a4";
}

.order__btn {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #a4151c;
  background-color: #fca211;
  padding: 15px 25px;
  border-radius: 30px;
  vertical-align: middle;
  margin-left: 70px;
}

.order__btn:hover {
  background-color: #641a00;
  color: #fca211;
}

.about {
  background: -webkit-linear-gradient(left, #c9caca 0%, #eeeeee 100%);
  min-height: 760px;
}

.about__text {
  width: 415px;
  padding-top: 110px;
  position: relative;
}

.about__text:after {
  content: "";
  display: block;
  background-image: url("../image/decor/cook-img.png");
  width: 383px;
  height: 708px;
  position: absolute;
  left: 670px;
  top: 50px;
}

.desc-text {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #959595;
  line-height: 22.24px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.about__list-item {
  width: 155px;
  margin-right: 60px;
  vertical-align: bottom;
}

.about__desc {
  font-size: 16px;
  color: #747474;
}

.products {
  background-image: url(../image/bg/products-bg.png);
  background-repeat: repeat;
  min-height: 1130px;
}

.products-bg {
  background: -webkit-linear-gradient(left, rgba(255, 168, 46, 0.8) 0%, rgba(255, 180, 11, 0.8) 100%);
  background: -moz-linear-gradient(left, rgba(255, 168, 46, 0.8) 0%, rgba(255, 180, 11, 0.8) 100%);
  background: -o-linear-gradient(left, rgba(255, 168, 46, 0.8) 0%, rgba(255, 180, 11, 0.8) 100%);
  min-height: 1130px;
}

.products__heading {
  padding-top: 120px;
  margin-bottom: 30px;
}

.products__title {
  text-align: center;
}

.products__text {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #883213;
  text-align: center;
  line-height: 19.2px;
  padding: 0 80px;
}

.products__list-item {
  float: left;
  width: 250px;
  margin-left: 33px;
}

.products__list-item:first-child {
  margin-left: 0;
}

.products__list-item:last-child {
  margin-right: 0;
}

.products__list-item__title {
  font-size: 32px;
  color: #2b2f5f;
  text-align: center;
  margin-bottom: 20px;
}

.products__list-item__desc {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  color: #ab594a;
  text-align: center;
}

.item-img1 {
  width: 250px;
  height: 230px;
  background-image: url("../image/decor/product-img1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.item-img2 {
  width: 250px;
  height: 230px;
  background-image: url("../image/decor/product-img2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.item-img3 {
  width: 250px;
  height: 230px;
  background-image: url("../image/decor/product-img3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.item-img4 {
  width: 250px;
  height: 230px;
  background-image: url("../image/decor/product-img4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.item-img5 {
  width: 250px;
  height: 230px;
  background-image: url("../image/decor/product-img5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.item-img6 {
  width: 250px;
  height: 230px;
  background-image: url("../image/decor/product-img6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.item-img7 {
  width: 250px;
  height: 230px;
  background-image: url("../image/decor/product-img7.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.item-img8 {
  width: 250px;
  height: 230px;
  background-image: url("../image/decor/product-img8.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.our-team {
  background: radial-gradient(circle farthest-corner at 40% 40%, #fbfbfa, #c8c8c8);
  min-height: 1422px;
}

.our-team__block {
  padding: 80px 0 115px;
}

.our-team__title {
  margin-bottom: 90px;
}

.our-team__heading {
  width: 330px;
  margin-right: 50px;
  vertical-align: middle;
  line-height: 75px;
}

.our-team__tabs {
  background-image: url("../image/decor/cook.png");
  background-repeat: no-repeat;
  background-position: 40% 100%;
}

.our-team__list {
  width: 715px;
  position: relative;
  vertical-align: middle;
  margin-right: -20px;
  font-size: 0;
}

.our-team__list > * {
  font-size: 16px;
}

.our-team__list-item {
  width: 33.3%;
}

.our-team__list-item.active:hover {
  background-color: #893213;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}

.our-team__link {
  display: block;
  padding: 22px 25px 22px 28px;
  margin-right: 10px;
  position: relative;
}

.our-team__link:hover {
  background-color: #893213;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}

.our-team__link:hover .item__title {
  color: #ffa92b;
}

.our-team__link:hover .item__prof {
  color: #fff;
}

.our-team__list-item.active {
  display: inline-block;
}

.our-team__list-item.active .our-team__link {
  background-color: #893213;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}

.our-team__list-item.active .our-team__link:before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  border: 15px solid transparent;
  border-top: 15px solid #893213;
  margin-left: -18px;
}

.our-team__list-item.active .our-team__link .item__title {
  color: #ffa92b;
}

.our-team__list-item.active .our-team__link .item_prof {
  color: #fff;
}

.our-team__desk {
  min-height: 579px;
}

.item__title {
  font-size: 30px;
  color: #2b2f5f;
  margin-bottom: 10px;
}

.item__prof {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #747474;
}

.our-team__text-left {
  float: left;
  width: 270px;
  position: relative;
}

.our-team__text-left p {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-style: italic;
  color: #747474;
}

.our-team__text-left .select {
  color: #484848;
  font-weight: bold;
}

.our-team__text-left:after {
  content: "";
  display: block;
  background: url("../image/icons/quote.png");
  position: absolute;
  width: 50px;
  height: 41px;
  left: 350px;
  top: -20px;
}

.our-team__text-right {
  float: right;
  width: 340px;
}

.our-team__text-right p {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-style: italic;
  color: #747474;
}

.team-item {
  display: none;
}

.team-item.active {
  display: block;
}

form {
  margin-top: 35px;
}

.form__block {
  width: 843px;
  min-height: 408px;
  margin: 0 auto;
  background: url("../image/bg/form-bg.png");
  position: relative;
}

.form__block-left {
  float: left;
  width: 430px;
  font-size: 64px;
  color: #fff;
  text-align: center;
  padding: 105px 60px 90px 60px;
  box-sizing: border-box;
}

.form__block-right {
  float: right;
  width: 410px;
  min-height: 408px;
  border-radius: 0 20px 20px 0;
  background: rgba(0, 0, 0, 0.7);
  padding-right: 90px;
  padding-left: 40px;
  box-sizing: border-box;
}

.form__input {
  display: block;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #fff;
  background: transparent;
  padding: 43px 0 15px;
  width: 100%;
}

input[type=tel] {
  margin-bottom: 40px;
}

.callback {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #fff;
  padding-left: 10px;
}

.form__btn {
  background-color: #ffb100;
  border-radius: 50%;
  background-image: url("../image/icons/arrow-btn.png");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  position: absolute;
  display: block;
  width: 96px;
  height: 96px;
  left: 785px;
  top: 345px;
}

.form__btn:hover {
  background-color: #641a00;
  background-image: url("../image/icons/arrow-btn-h.png");
  cursor: pointer;
}

.questions {
  background: url("../image/bg/questions-bg.png");
  min-height: 760px;
}

.questions__title {
  font-size: 40px;
  color: #fff;
  line-height: 81.44px;
  text-align: center;
  margin-bottom: 75px;
}

.acco-item {
  line-height: 34.29px;
  font-family: Arial, sans-serif;
  font-size: 22px;
  color: #fff;
  margin-bottom: 40px;
}

.acco__trigger {
  border-bottom: 3px dashed #fff;
  padding-bottom: 4px;
  cursor: pointer;
}

.acco__number {
  margin-right: 20px;
}

.acco__content {
  display: none;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 15px;
  margin-left: 50px;
}

.active {
  display: block;
}

.active#quest {
  color: #ffb100;
}

.map {
  background: url("../image/bg/map-bg.png");
  min-height: 517px;
  position: relative;
}

.map:after {
  content: "";
  display: block;
  background-image: url("../image/icons/map-check.png");
  width: 42px;
  height: 59px;
  position: absolute;
  top: 232px;
  left: 360px;
}

.page-footer {
  height: 125px;
  line-height: 125px;
  background-color: #fff;
}

.page-footer__logo {
  float: left;
  width: 235px;
}

.footer__title {
  font-size: 29.65px;
  color: #fca211;
  margin-left: 5px;
  vertical-align: middle;
}

.footer__pic {
  width: 66px;
  height: 55px;
  vertical-align: middle;
}

.page-footer__copyright {
  float: left;
  width: 550px;
}

.copy-text, .copy-adress {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #8d8d8d;
}

.copy-adress {
  margin-left: 50px;
}

.page-footer__social {
  float: right;
  width: 240px;
}

.social__list-item {
  margin-right: 34px;
  cursor: pointer;
}

.fb {
  background: url("../image/icons/fb.png");
  width: 11px;
  height: 22px;
}

.fb:hover {
  background: url("../image/icons/fb-h.png");
}

.inst {
  background: url("../image/icons/inst.png");
  width: 22px;
  height: 22px;
}

.inst:hover {
  background: url("../image/icons/inst-h.png");
}

.ok {
  background: url("../image/icons/ok.png");
  width: 13px;
  height: 22px;
}

.ok:hover {
  background: url("../image/icons/ok-h.png");
}

.tw {
  background: url("../image/icons/tw.png");
  width: 22px;
  height: 18px;
}

.tw:hover {
  background: url("../image/icons/tw-h.png");
}

.vk {
  background: url("../image/icons/vk.png");
  width: 22px;
  height: 13px;
  margin-right: 0;
}

.vk:hover {
  background: url("../image/icons/vk-h.png");
}

/*# sourceMappingURL=main.css.map */