@font-face {
  font-family: Malina;
  src: url("../fonts/ALSMalina.ttf");
  src: url("../fonts/ALSMalina.woff");
  src: url("../fonts/Malina.eot");
  src: url("../fonts/Malina.woff2");
  font-weight: 400;
  font-style: normal;
}

.page-header__nav-item, .about__list-item, .our-team__heading, .our-team__list, .our-team__list-item, .copyright__list-item, .social__list-item {
  display: inline-block;
}

.container:after, .main-container:after, .page-header:after, .sub-header__promo:after, .promo__right:after, .promo__desc-order:after, .products-row:after, .our-team__desk:after, .our-team__text:after, .our-team__tabs:after, .form__block:after, .page-footer:after {
  content: "";
  display: block;
  clear: both;
}

* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: Malina, sans-serif;
  min-width: 1100px;
}

ul li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  min-width: 1120px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

.heading {
  font-size: 62px;
  color: #2b2f5f;
}

.container {
  margin: 0 auto;
  width: 1100px;
}

.main-container {
  margin: 0 auto;
  width: 976px;
}

.page-footer {
  height: 125px;
  width: 100%;
  min-width: 1120px;
}

.promo-block {
  min-height: 760px;
  background: -webkit-linear-gradient(left, #df3e43 0%, #a8171d 100%);
  background: -moz-linear-gradient(left, #df3e43 0%, #a8171d 100%);
  background: -o-linear-gradient(left, #df3e43 0%, #a8171d 100%);
}

.page-header {
  height: 100px;
  line-height: 100px;
  position: relative;
  margin-bottom: 40px;
}

.page-header__logo {
  float: left;
  width: 345px;
}

.logo__pic {
  vertical-align: middle;
  width: 81px;
  height: 66px;
}

.logo__title {
  vertical-align: middle;
  font-size: 48px;
  color: #fca211;
}

.page-header__nav {
  float: left;
  margin-left: 105px;
}

.page-header__nav-item {
  font-family: Arial;
  position: relative;
  font-size: 16px;
  color: #fff;
  margin-right: 60px;
}

.page-header__nav-item:after {
  content: '\02c7';
  display: inline-block;
  font-size: 18px;
  position: absolute;
  left: 77px;
  top: 6px;
}

.page-header__nav-item:hover:after {
  color: #faa827;
  content: '\02c6';
}

.nav__link:hover {
  color: #faa827;
}

.noarr:after {
  content: '';
}

.noarr:hover:after {
  content: '';
}

.sweet__drop-list:before {
  content: "";
  display: block;
  position: absolute;
  left: 90px;
  top: -40px;
  border: 20px solid transparent;
  border-bottom: 20px solid rgba(255, 255, 255, 0.9);
}

.company__drop-list:before {
  content: "";
  display: block;
  position: absolute;
  left: 90px;
  top: -40px;
  border: 20px solid transparent;
  border-bottom: 20px solid rgba(255, 255, 255, 0.9);
}

.page-header__search {
  float: right;
  width: 120px;
}

.search__link {
  display: inline-block;
}

.search__pic:hover {
  background-color: #ffaf28;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.search__pic {
  vertical-align: middle;
}

.lk {
  margin-right: 15px;
}

.team__drop, .sweet__drop-list, .company__drop-list {
  display: none;
  position: absolute;
  left: -77px;
  top: 97px;
  min-width: 225px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  padding: 40px 0;
  z-index: 1000;
}

.team__drop:before, .sweet__drop-list:before, .company__drop-list:before {
  content: "";
  display: block;
  position: absolute;
  left: 90px;
  top: -40px;
  border: 20px solid transparent;
  border-bottom: 20px solid rgba(255, 255, 255, 0.9);
}

.team__drop-list__item, .sweet__drop-list__item, .company__drop-list__item {
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #959595;
  line-height: 39px;
  text-align: center;
}

.team__drop-list__item:before, .sweet__drop-list__item:before, .company__drop-list__item:before {
  content: "";
  display: block;
  position: absolute;
  border: 9px solid transparent;
  top: 22%;
}

.team__drop-list__item:hover:before, .sweet__drop-list__item:hover:before, .company__drop-list__item:hover:before {
  border-left: 9px solid #ffaf28;
}

.drop__item {
  color: #959595;
}

.drop__item:hover {
  font-weight: bold;
}

.sweet__link {
  color: #959595;
}

.sweet__link:hover {
  font-weight: bold;
}

.company__link {
  color: #959595;
}

.company__link:hover {
  font-weight: bold;
}

.sweet__drop-list__item:hover:before {
  border-left: 9px solid #ffaf28;
}

.company__drop-list__item:hover:before {
  border-left: 9px solid #ffaf28;
}

.sub-header__promo {
  position: relative;
}

.promo__left {
  float: left;
  width: 130px;
}

.promo__right {
  float: right;
  width: 900px;
}

.promo__img {
  float: left;
  width: 450px;
}

.promo__pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 3;
}

.promo__desc {
  float: right;
  width: 403px;
}

.promo__desc-title {
  font-size: 62px;
  color: #fff;
}

.promo__info-ingr, .promo__info-srok {
  text-align: center;
  padding: 55px 0 100px;
}

.promo__info-srok {
  padding: 81px 0;
}

.text {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #fff;
  line-height: 21px;
  margin-bottom: 50px;
}

.ingr__link {
  display: block;
  position: relative;
  text-align: center;
}

.promo__info-ingr:hover .ingr__img, .promo__info-srok:hover .ingr__img {
  background-color: #ffaf28;
}

.promo__info-ingr:hover .ingr__pic, .promo__info-srok:hover .ingr__pic {
  background: url("../image/icons/ingr-h.png");
}

.promo__info-ingr:hover .ingr-drop, .promo__info-srok:hover .ingr-drop {
  left: 110px;
  z-index: 5;
}

.ingr__img {
  display: inline-block;
  position: relative;
  width: 42px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  vertical-align: middle;
  padding: 10px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}

.ingr__pic {
  background: url("../image/icons/ingr-img.png");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

.ingr-drop {
  position: absolute;
  left: -33000px;
  top: -55px;
  width: 340px;
  height: 230px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  padding: 30px 40px;
}

.ingr-drop:before {
  content: "";
  position: absolute;
  left: -40px;
  top: 60px;
  border: 20px solid transparent;
  border-right: 20px solid rgba(255, 255, 255, 0.9);
}

.drop__list {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #959595;
}

.drop__list-item {
  margin-bottom: 20px;
}

th, td {
  text-align: left;
  padding: 6px;
}

td.table-desc {
  padding-right: 30px;
}

.info-pic:hover {
  background-image: url("../image/icons/ingr-h.png");
}

.srok-text {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #e46d6f;
}

.srok {
  font-family: Malina, sans-serif;
  font-size: 24px;
  color: #fff;
}

.bg-text {
  font-size: 150px;
  text-align: center;
  position: absolute;
  width: 1100px;
  top: 150px;
  left: 10px;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.1);
  z-index: 1;
  text-transform: uppercase;
}

.order__price {
  vertical-align: middle;
  font-size: 62px;
  color: #fff;
}

.order__price:after {
  content: "\00a4";
}

.order__btn {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #a4151c;
  background-color: #fca211;
  padding: 15px 25px;
  border-radius: 30px;
  vertical-align: middle;
  margin-left: 70px;
  -webkit-transition: 1.2s;
  -moz-transition: 1.2s;
  -ms-transition: 1.2s;
  transition: 1.2s;
}

.order__btn:hover {
  background-color: #641a00;
  color: #fca211;
}

.bx-wrapper {
  margin: 0 auto;
  border: none;
  background: transparent;
}

.bx-viewport {
  min-height: 550px;
}

.bx-pager {
  text-align: center;
  font-size: 0;
  padding: 35px 0 43px 0;
}

.bx-pager-item {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 40px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  display: block;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #ffb100;
}

.bx-wrapper .bx-controls-direction a {
  display: none;
}

.about {
  background: -webkit-linear-gradient(left, #c9caca 0%, #eeeeee 100%);
  min-height: 760px;
}

.about__left {
  float: left;
  width: 60%;
  padding-top: 110px;
  position: relative;
  padding-left: 60px;
}

.about__right {
  float: right;
  min-height: 760px;
  width: 35%;
  background-image: url("../image/decor/cook-img.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

.about__text-desc p {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #959595;
  line-height: 22.24px;
  margin-top: 50px;
  margin-bottom: 60px;
  padding-right: 120px;
}

.about__list-item {
  width: 145px;
  margin-right: 50px;
  vertical-align: bottom;
}

.about__desc {
  font-size: 16px;
  color: #747474;
}

.products {
  background-image: url(../image/bg/products-bg.png);
  background-repeat: repeat;
  min-height: 1130px;
}

.products-bg {
  background: -webkit-linear-gradient(left, rgba(255, 168, 46, 0.8) 0%, rgba(255, 180, 11, 0.8) 100%);
  background: -moz-linear-gradient(left, rgba(255, 168, 46, 0.8) 0%, rgba(255, 180, 11, 0.8) 100%);
  background: -o-linear-gradient(left, rgba(255, 168, 46, 0.8) 0%, rgba(255, 180, 11, 0.8) 100%);
  min-height: 1130px;
}

.products__heading {
  padding-top: 110px;
  margin-bottom: 30px;
}

.products__title {
  text-align: center;
}

.products__text {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #883213;
  text-align: center;
  line-height: 19.2px;
  padding: 0 80px;
}

.products__list-item {
  float: left;
  width: 250px;
  margin-left: 33px;
}

.products__list-item:first-child {
  margin-left: 0;
}

.products__list-item:last-child {
  margin-right: 0;
}

.products__list-item__title {
  font-size: 32px;
  color: #2b2f5f;
  text-align: center;
  margin-bottom: 20px;
}

.products__list-item__desc {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  color: #ab594a;
  text-align: center;
}

.products__list-item__desc p {
  margin: 0;
}

.item-round {
  width: 100%;
  height: 228px;
  background-image: url("../image/icons/round.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 50% 100%;
  position: relative;
}

.img1:after {
  content: "";
  width: 229px;
  height: 297px;
  background: url("../image/decor/cake.png") no-repeat;
  background-position: center;
  background-size: 95%;
  position: absolute;
  top: -27%;
  left: 10%;
}

.img2:after {
  content: "";
  width: 246px;
  height: 207px;
  background: url("../image/decor/cake2.png") no-repeat;
  background-position: center;
  background-size: 95%;
  position: absolute;
  top: 14%;
  left: 9%;
}

.img3:after {
  content: "";
  width: 213px;
  height: 205px;
  background: url("../image/decor/cake3.png") no-repeat;
  background-position: center;
  background-size: 95%;
  position: absolute;
  top: 12%;
  left: 8%;
}

.img4:after {
  content: "";
  width: 231px;
  height: 207px;
  background: url("../image/decor/cake4.png") no-repeat;
  background-position: center;
  background-size: 95%;
  position: absolute;
  top: 14%;
  left: 0%;
}

.img5:after {
  content: "";
  width: 218px;
  height: 178px;
  background: url("../image/decor/cake5.png") no-repeat;
  background-position: center;
  background-size: 95%;
  position: absolute;
  top: 17%;
  left: 5%;
}

.img6:after {
  content: "";
  width: 226px;
  height: 206px;
  background: url("../image/decor/cake6.png") no-repeat;
  background-position: center;
  background-size: 95%;
  position: absolute;
  top: 14%;
  left: 10%;
}

.img7:after {
  content: "";
  width: 205px;
  height: 220px;
  background: url("../image/decor/cake7.png") no-repeat;
  background-position: center;
  background-size: 95%;
  position: absolute;
  top: 10%;
  left: 9%;
}

.img8:after {
  content: "";
  width: 230px;
  height: 172px;
  background: url("../image/decor/cake8.png") no-repeat;
  background-position: center;
  background-size: 95%;
  position: absolute;
  top: 19%;
  left: 3%;
}

.form-link {
  color: #2b2f5f;
  text-decoration: underline;
}

.our-team {
  background: radial-gradient(circle farthest-corner at 40% 40%, #fbfbfa, #c8c8c8);
  min-height: 1422px;
}

.our-team__block {
  padding: 80px 0 115px;
}

.our-team__title {
  margin-bottom: 90px;
}

.our-team__heading {
  width: 330px;
  margin-right: 50px;
  vertical-align: middle;
  line-height: 75px;
}

.our-team__tabs {
  background-image: url("../image/decor/cook.png");
  background-repeat: no-repeat;
  background-position: 40% 100%;
}

.our-team__list {
  width: 715px;
  position: relative;
  vertical-align: middle;
  margin-right: -20px;
  font-size: 0;
}

.our-team__list > * {
  font-size: 16px;
}

.our-team__list-item {
  width: 33.3%;
}

.our-team__list-item.active:hover {
  background-color: #893213;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}

.our-team__link {
  display: block;
  padding: 22px 25px 22px 28px;
  margin-right: 10px;
  position: relative;
}

.our-team__link:hover {
  background-color: #893213;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}

.our-team__link:hover .item__title {
  color: #ffa92b;
}

.our-team__link:hover .item__prof {
  color: #fff;
}

.our-team__list-item.active {
  display: inline-block;
}

.our-team__list-item.active .our-team__link {
  background-color: #893213;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}

.our-team__list-item.active .our-team__link:before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  border: 15px solid transparent;
  border-top: 15px solid #893213;
  margin-left: -18px;
}

.our-team__list-item.active .our-team__link .item__title {
  color: #ffa92b;
}

.our-team__list-item.active .our-team__link .item_prof {
  color: #fff;
}

.our-team__desk {
  min-height: 579px;
}

.item__title {
  font-size: 30px;
  color: #2b2f5f;
  margin-bottom: 10px;
}

.item__prof {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #747474;
}

.our-team__text-left {
  float: left;
  width: 270px;
  position: relative;
}

.our-team__text-left p {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-style: italic;
  color: #747474;
}

.our-team__text-left .select {
  color: #484848;
  font-weight: bold;
}

.our-team__text-left:after {
  content: "";
  display: block;
  background: url("../image/icons/quote.png");
  position: absolute;
  width: 50px;
  height: 41px;
  left: 350px;
  top: -20px;
}

.our-team__text-right {
  float: right;
  width: 340px;
}

.our-team__text-right p {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-style: italic;
  color: #747474;
}

.team-item {
  display: none;
}

.team-item.active {
  display: block;
}

form {
  margin-top: 35px;
}

.form__block {
  width: 843px;
  min-height: 408px;
  margin: 0 auto;
  background: url("../image/bg/form-bg.png");
  position: relative;
}

.form__block-left {
  float: left;
  width: 430px;
  font-size: 64px;
  color: #fff;
  text-align: center;
  padding: 105px 60px 123px 60px;
  box-sizing: border-box;
}

.form__block-right {
  float: right;
  width: 410px;
  min-height: 408px;
  border-radius: 0 20px 20px 0;
  background: rgba(0, 0, 0, 0.7);
  padding-right: 90px;
  padding-left: 40px;
  box-sizing: border-box;
}

.form__input {
  display: block;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #fff;
  background: transparent;
  padding: 43px 0 15px;
  width: 100%;
}

input[type=tel] {
  margin-bottom: 40px;
}

.callback {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #fff;
  padding-left: 10px;
}

.form__btn {
  background-color: #ffb100;
  border-radius: 50%;
  background-image: url("../image/icons/arrow-btn.png");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  position: absolute;
  display: block;
  width: 96px;
  height: 96px;
  left: 785px;
  top: 345px;
}

.form__btn:hover {
  background-color: #641a00;
  background-image: url("../image/icons/arrow-btn-h.png");
  cursor: pointer;
}

.questions {
  background: url("../image/bg/questions-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  color: white;
  min-height: 760px;
}

.questions__title {
  font-size: 40px;
  color: #fff;
  line-height: 81.44px;
  text-align: center;
  padding: 40px 0;
}

.acco {
  font-family: Arial, sans-serif;
  font-size: 22px;
  color: #fff;
}

.acco-item {
  margin-bottom: 30px;
}

.acco-item:hover .acco__trigger {
  border-bottom: 2px dashed #ffb100;
}

.acco__item:hover .acco__number {
  color: #ffb100;
}

.acco__item:hover .acco__number {
  color: #ffb100;
}

.acco__item.active .acco__trigger {
  color: #ffb100;
  border-bottom: 2px dashed transparent;
}

.acco__item.active .acco {
  color: #ffb100;
}

.acco__item.active .acco__number {
  color: #ffb100;
}

.acco__trigger {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  font-size: 22px;
  color: #fff;
  border-bottom: 2px dashed #fff;
  line-height: 42px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.acco__number {
  margin-right: 20px;
}

.acco__content {
  display: none;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 15px;
  margin-left: 50px;
}

.active {
  display: block;
}

.active .acco__trigger {
  color: #ffb100;
  border: none;
}

.map__block {
  width: 100%;
  height: 535px;
}

.page-footer {
  height: 125px;
  background-color: #fff;
  padding: 40px 0;
}

.page-footer__logo {
  float: left;
  width: 235px;
}

.footer__title {
  font-size: 29.65px;
  color: #fca211;
  margin-left: 5px;
  vertical-align: middle;
}

.footer__pic {
  width: 66px;
  height: 55px;
  vertical-align: middle;
}

.page-footer__copyright {
  display: inline-block;
  vertical-align: middle;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #8d8d8d;
  height: 60px;
}

.copyright__list-item {
  padding-top: 25px;
  margin-left: 40px;
}

.page-footer__social {
  display: inline-block;
  text-align: right;
  width: 270px;
}

.social__list-item {
  margin-right: 30px;
  vertical-align: bottom;
  cursor: pointer;
}

.fb {
  background: url("../image/icons/fb.png");
  width: 11px;
  height: 22px;
}

.fb:hover {
  background: url("../image/icons/fb-h.png");
}

.inst {
  background: url("../image/icons/inst.png");
  width: 22px;
  height: 22px;
}

.inst:hover {
  background: url("../image/icons/inst-h.png");
}

.ok {
  background: url("../image/icons/ok.png");
  width: 13px;
  height: 22px;
}

.ok:hover {
  background: url("../image/icons/ok-h.png");
}

.tw {
  background: url("../image/icons/tw.png");
  width: 22px;
  height: 18px;
}

.tw:hover {
  background: url("../image/icons/tw-h.png");
}

.vk {
  background: url("../image/icons/vk.png");
  width: 22px;
  height: 13px;
  margin-right: 0;
}

.vk:hover {
  background: url("../image/icons/vk-h.png");
}

/*# sourceMappingURL=main.css.map */