.promo-block {
	min-height: 760px;
	background: -webkit-linear-gradient(left, #df3e43 0%,#a8171d 100%)
}
.page-header {
	height: 100px;
	line-height: 100px;
	@extend %clearfix;
	position: relative;
}
.page-header__logo {
	float: left;
	width: 345px;
}
.logo__pic {
	vertical-align: middle;
	width: 81px;
	height: 66px;
}
.logo__title {
	vertical-align: middle;
	font-size: 48px;
	color: #fca211;
}
.page-header__nav {
	float: left;
	margin-left: 105px;
}
.page-header__nav-item {
	@extend %inline-block;
	font-family: Arial;
	font-size: 16px;
	color: #fff;
	margin-right: 60px;
}
.nav__link {
	&:hover {
		color: #faa827;
	}
}
.page-header__search {
	float: right;
	width: 120px;
}
.search__link {
	display: inline-block;
}
.search__pic {
	&:hover {
		background-color: #ffaf28;
		border-radius: 50%;
	}
}
.search__pic {
	vertical-align: middle;
}
.lk {
	margin-right: 15px;
}
.team__drop {
	display: none;
	position: absolute;
	left: 775px;
	top: 97px;
	width: 225px;
	height: 330px;
	background-color: rgba(255, 255, 255, .9);
	border-radius: 30px;
	padding: 40px 0;
	box-sizing: border-box;
}
.team__drop {
	&:before {
		content: "";
		display: block;
		position: absolute;
		left: 90px;
		top: -40px;
		border: 20px solid transparent;
		border-bottom: 20px solid rgba(255, 255, 255, .9);
	}
}
.team__drop-list__item {
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #959595;
	line-height: 39px;
	text-align: center;
}
.drop__item--a {
	font-weight: bold;
}