.products {
	background-image: url(../image/bg/products-bg.png);
	background-repeat: repeat;
	min-height: 1130px;
}
.products-bg {
	background: -webkit-linear-gradient(left, rgba(255, 168, 46, .8) 0%,rgba(255, 180, 11, .8)100%);
	background:	-moz-linear-gradient(left, rgba(255, 168, 46, .8) 0%,rgba(255, 180, 11, .8)100%);
	background:	-o-linear-gradient(left, rgba(255, 168, 46, .8) 0%,rgba(255, 180, 11, .8)100%);
	min-height: 1130px;
}
.products__heading {
	padding-top: 110px;
	margin-bottom: 30px;
}
.products__title {
	text-align: center;
}
.products__text {
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #883213;
	text-align: center;
	line-height: 19.2px;
	padding: 0 80px;
}
.products-row {
	@extend %clearfix;
}

.products__list-item {
	float: left;
	width: 250px;
	margin-left: 33px;
}
.products__list-item {
	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
}
.products__list-item__title {
	font-size: 32px;
	color: $blue;
	text-align: center;
	margin-bottom: 20px;
}
.products__list-item__desc {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 19.2px;
	color: #ab594a;
	text-align: center;
}
.products__list-item__desc {
	& p {
		margin: 0;
	}
}
.item-round {
	width: 100%;
	height: 228px;
	background-image: url("../image/icons/round.png");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: 50% 100%;
	position: relative;
}
.img1 {
	&:after {
	content: "";
	width: 229px;
	height: 297px;
	background: url("../image/decor/cake.png") no-repeat;
	background-position: center;
	background-size: 95%;
	position: absolute;
	top: -27%;
	left: 10%;	
	}
}
.img2 {
	&:after {
	content: "";
	width: 246px;
	height: 207px;
	background: url("../image/decor/cake2.png") no-repeat;
	background-position: center;
	background-size: 95%;
	position: absolute;
	top: 14%;
	left: 9%;	
	}
}
.img3 {
	&:after {
	content: "";
	width: 213px;
	height: 205px;
	background: url("../image/decor/cake3.png") no-repeat;
	background-position: center;
	background-size: 95%;
	position: absolute;
	top: 12%;
	left: 8%;	
	}
}
.img4 {
	&:after {
	content: "";
	width: 231px;
	height: 207px;
	background: url("../image/decor/cake4.png") no-repeat;
	background-position: center;
	background-size: 95%;
	position: absolute;
	top: 14%;
	left: 0%;	
	}
}
.img5 {
	&:after {
	content: "";
	width: 218px;
	height: 178px;
	background: url("../image/decor/cake5.png") no-repeat;
	background-position: center;
	background-size: 95%;
	position: absolute;
	top: 17%;
	left: 5%;	
	}
}
.img6 {
	&:after {
	content: "";
	width: 226px;
	height: 206px;
	background: url("../image/decor/cake6.png") no-repeat;
	background-position: center;
	background-size: 95%;
	position: absolute;
	top: 14%;
	left: 10%;	
	}
}
.img7 {
	&:after {
	content: "";
	width: 205px;
	height: 220px;
	background: url("../image/decor/cake7.png") no-repeat;
	background-position: center;
	background-size: 95%;
	position: absolute;
	top: 10%;
	left: 9%;	
	}
}
.img8 {
	&:after {
	content: "";
	width: 230px;
	height: 172px;
	background: url("../image/decor/cake8.png") no-repeat;
	background-position: center;
	background-size: 95%;
	position: absolute;
	top: 19%;
	left: 3%;	
	}
}
.form-link {
	color: $blue;
	text-decoration: underline;
}