.sub-header__promo {
	@extend %clearfix;
	position: relative;
}
.promo__left {
	float: left;
	width: 130px;
}
.promo__right {
	float: right;
	width: 900px;
	@extend %clearfix;

}
.promo__img {
	float: left;
	width: 450px;
}
.promo__pic {
	display: block;
	width: 100%;
	height: 100%;
	object-fit:cover;
	position: relative;
	z-index: 1;
}
.promo__desc {
	float: right;
	width: 403px;
}
.promo__desc-title {
	font-size: 62px;
	color: #fff;
}
.promo__info-ingr {
	text-align: center;
	padding: 55px 0 100px;
}
.promo__info-srok {
	@extend .promo__info-ingr;
	padding: 81px 0;
}
.text {
	font-family: Arial, sans-serif;
	font-size: 15px;
	color: #fff;
	line-height: 21px;
	margin-bottom: 50px;
}
.ingr__link {
	display: block;
	position: relative;
	text-align: center;
}
.promo__info-ingr:hover {
		& .ingr__img {
		background-color: #ffaf28;
		}
		& .ingr__pic {
			background: url('../image/icons/ingr-h.png');
		}
		& .ingr-drop {
			left: 110px;
			z-index: 2;
		}
}
.ingr__img {
	display: inline-block;
	position: relative;
	width: 42px;
	height: 42px;
	background-color: rgba(255, 255, 255, .2);
	@include border-radius(50%);
	vertical-align: middle;
	padding: 10px;
}

.ingr__pic {
	background: url('../image/icons/ingr-img.png');
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
}
.ingr-drop {
	position: absolute;
	left: -33000px;
	top: -55px;
	width: 340px;
	height: 230px;
	background-color: rgba(255, 255, 255, .9);
	border-radius: 30px;
	padding: 30px 30px 30px 67px;
}
.ingr-drop {
	&:before {
		content: "";
		position: absolute;
		left: -40px;
		top: 60px;
		border: 20px solid transparent;
		border-right: 20px solid rgba(255, 255, 255, .9);
	}
}
.drop__list {
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #959595;
	text-align: left;
	margin-bottom: 25px;
}
.drop__list-item {
	margin-bottom: 20px;
}
.flour {
	&:before {
		content: "";
		background: url("../image/icons/info-hov1.png");
		width: 21px;
		height: 21px;
		display: block;
		position: absolute;
		left: 33px;
	}
	&:after {
		content: "200 г.";
		position: absolute;
		left: 273px;
	}
}
.egg {
	&:before {
		content: "";
		background: url("../image/icons/info-hov2.png");
		width: 21px;
		height: 21px;
		display: block;
		position: absolute;
		left: 33px;
	}
	&:after {
		content: "3 шт.";
		position: absolute;
		left: 273px;
	}
}
.sugar {
	&:before {
		content: "";
		background: url("../image/icons/info-hov3.png");
		width: 21px;
		height: 21px;
		display: block;
		position: absolute;
		left: 33px;
	}
	&:after {
		content: "200 г.";
		position: absolute;
		left: 273px;
	}
}
.butter {
	&:before {
		content: "";
		background: url("../image/icons/info-hov4.png");
		width: 21px;
		height: 21px;
		display: block;
		position: absolute;
		left: 33px;
	}
	&:after {
		content: "50 г.";
		position: absolute;
		left: 273px;
	}
}
.milk {
	&:before {
		content: "";
		background: url("../image/icons/info-hov5.png");
		width: 21px;
		height: 21px;
		display: block;
		position: absolute;
		left: 33px;
	}
	&:after {
		content: "100 г.";
		position: absolute;
		left: 273px;
	}
}
.info-pic {
	&:hover {
		background-image: url('../image/icons/ingr-h.png');
	}
}
.srok-text {
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: #e46d6f;
}
.srok {
	font-family: Malina, sans-serif;
	font-size: 24px;
	color: #fff;
}
.promo__desc-order {
	@extend %clearfix;
}
.bg-text {
	font-size: 150px;
	position: absolute;
	top: 50%;
	left: 0%;
	margin-top: -75px;
	padding: 0 27px;
	color: rgba(255, 255, 255, .1);
	z-index: 0;
}
.order__price {
	vertical-align: middle;
	font-size: 62px;
	color: #fff;
}
.order__price {
	&:after {
		content: "\00a4";
	}
}

.order__btn {
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #a4151c;
	background-color: #fca211;
	padding: 15px 25px;
	border-radius: 30px;
	vertical-align: middle;
	margin-left: 70px;
}
.order__btn {
	&:hover {
		background-color: #641a00;
		color: #fca211;
	}
}
.bx-wrapper {
	margin: 0 auto;
	border: none;
	background: -webkit-linear-gradient(left, #df3e43 0%,#a8171d 100%);
	background:	-moz-linear-gradient(left, #df3e43 0%,#a8171d 100%);
	background:	-o-linear-gradient(left, #df3e43 0%,#a8171d 100%);
}
.bx-viewport {
	min-height: 550px;
}
.bx-pager {
	text-align: center;
	font-size: 0;
	padding: 35px 0 43px 0;
}
.bx-pager-item {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	width: 40px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	display: block;
	width: 8px;
	height: 8px;
	@include border-radius(50%);
	background: #fff;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #ffb100;
}
.bx-wrapper .bx-controls-direction a {
	display: none;
}
