.our-team {
	background: radial-gradient(circle farthest-corner at 40% 40%, #fbfbfa, #c8c8c8);
	min-height: 1422px;
}
.our-team__block {
	padding: 80px 0 115px;
}
.our-team__title {
	margin-bottom: 90px;
}
.our-team__heading {
	width: 330px;
	margin-right: 50px;
	@extend %inline-block;
	vertical-align: middle;
	line-height: 75px;
}
.our-team__tabs {
	background-image: url('../image/decor/cook.png');
	background-repeat: no-repeat;
	background-position: 40% 100%;
}
.our-team__list {
	width: 715px;
	position: relative;
	@extend %inline-block;
	vertical-align: middle;
	margin-right: -20px;
	font-size: 0;

	> * {
		font-size: 16px;
	}
}
.our-team__list-item {
	@extend %inline-block;
	width: 33.3%;
}
.our-team__list-item.active {
		&:hover {
			background-color: #893213;
			@include border-radius(20px);
		}
}
.our-team__link {
	display: block;
	padding: 22px 25px 22px 28px;
	margin-right: 10px;
	position: relative;
	&:hover {
		background-color: #893213;
		@include border-radius(20px);
		& .item__title {
			color: #ffa92b;
		}
		& .item__prof {
			color: #fff;
		}
	}
}
.our-team__list-item.active {
	display: inline-block;

	& .our-team__link {
		background-color: #893213;
		@include border-radius(20px);
	
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 100%;
			left: 50%;
			border: 15px solid transparent;
			border-top: 15px solid #893213;
			margin-left: -18px;
			}
		& .item__title {
			color: #ffa92b;
		}
		& .item_prof {
			color: #fff;
		}
	}
}
.our-team__desk {
	@extend %clearfix;
	min-height: 579px;
}
.item__title {
	font-size: 30px;
	color: $blue;
	margin-bottom: 10px;
}
.item__prof {
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #747474;
}
.our-team__text {
	@extend %clearfix;
}
.our-team__text-left {
	float: left;
	width: 270px;
	position: relative;
	p {
		font-family: Arial, sans-serif;
		font-size: 14px;
		font-style: italic;
		color: #747474;
	}
	.select {
	color: #484848;
	font-weight: bold;
	}
}
.our-team__text-left {
	&:after {
		content: "";
		display: block;
		background: url("../image/icons/quote.png");
		position: absolute;
		width: 50px;
		height: 41px;
		left: 350px;
		top: -20px;
	}
}
.our-team__text-right {
	float: right;
	width: 340px;
	p {
		font-family: Arial, sans-serif;
		font-size: 14px;
		font-style: italic;
		color: #747474;
	}
}

.our-team__tabs {
	@extend %clearfix;
}
.team-item {
	display: none;
}
.team-item.active {
	display: block;
}

