%inline-block {
	display: inline-block;
}

%clearfix {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}
@mixin linear-gradient($value) {
	-webkit-linear-gradient: $value;
     -moz-linear-gradient: $value;
      -ms-linear-gradient: $value;
          linear-gradient: $value;
}